.grid-container{
	display : grid;
	grid-template-columns : repeat(3, 100px);
	grid-template-rows : repeat(3, 100px);
	gap : 20px;
	justify-content:center;

	
}

.grid-item{
	border : 1px solid black;
	display : flex;
	justify-content : center;
	align-items : center;
	font-size : 2rem;
}

.actions{
	margin-top : 50px;
	display : flex;
	justify-content: center;
	gap : 1rem
}